doctype html
html(lang="ru")
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no, maximum-scale=1')
    title UpTrader Test.
  body
    include ./includes/svg-sprite.pug
    include ./includes/header.pug
    include ./includes/main-section.pug
    include ./includes/bestproducts.pug
    include ./includes/shop-desc.pug
    include ./includes/social.pug
    include ./includes/footer.pug

    