section.bestproduct
  .wrapper
    section.bestproduct-section
      h4.section__title.bestproduct-section__title Лучшие товары
      section.bestproduct-section__slider
        div
          .bestproduct-section__slider-item
            .bestproduct-section__slider-item-pic
              img.logo(src="./src/img/trailheadLogo.png", width="63", height="30")
              img(src="./src/img/goods1.png")
            a(href="#", title="ссылка на товар").bestproduct-section__slider-item-title Футболка TRAILHEAD MTS-FASTER белая
            .bestproduct-section__slider-item-price 17 359 
              span ₽
        div   
          .bestproduct-section__slider-item
            .bestproduct-section__slider-item-pic
              img.logo(src="./src/img/trailheadLogo.png", width="63", height="30")
              img(src="./src/img/goods2.png")
            a(href="#", title="ссылка на товар").bestproduct-section__slider-item-title Футболка TRAILHEAD MTS-FASTER белая
            .bestproduct-section__slider-item-price 17 359 
              span ₽
        div
          .bestproduct-section__slider-item
            .bestproduct-section__slider-item-pic
              img.logo(src="./src/img/trailheadLogo.png", width="63", height="30")
              img(src="./src/img/goods3.png")
            a(href="#", title="ссылка на товар").bestproduct-section__slider-item-title Футболка TRAILHEAD MTS-FASTER белая
            .bestproduct-section__slider-item-price 17 359 
              span ₽
        div
          .bestproduct-section__slider-item
            .bestproduct-section__slider-item-pic
              img.logo(src="./src/img/trailheadLogo.png", width="63", height="30")
              img(src="./src/img/goods4.png")
            a(href="#", title="ссылка на товар").bestproduct-section__slider-item-title Футболка TRAILHEAD MTS-FASTER белая
            .bestproduct-section__slider-item-price 17 359 
              span ₽
        div    
          .bestproduct-section__slider-item
            .bestproduct-section__slider-item-pic
              img.logo(src="./src/img/trailheadLogo.png", width="63", height="30")
              img(src="./src/img/goods1.png")
            a(href="#", title="ссылка на товар").bestproduct-section__slider-item-title Футболка TRAILHEAD MTS-FASTER белая
            .bestproduct-section__slider-item-price 17 359 
              span ₽
        div
          .bestproduct-section__slider-item
            .bestproduct-section__slider-item-pic
              img.logo(src="./src/img/trailheadLogo.png", width="63", height="30")
              img(src="./src/img/goods2.png")
            a(href="#", title="ссылка на товар").bestproduct-section__slider-item-title Футболка TRAILHEAD MTS-FASTER белая
            .bestproduct-section__slider-item-price 17 359 
              span ₽
        div
          .bestproduct-section__slider-item
            .bestproduct-section__slider-item-pic
              img.logo(src="./src/img/trailheadLogo.png", width="63", height="30")
              img(src="./src/img/goods3.png")
            a(href="#", title="ссылка на товар").bestproduct-section__slider-item-title Футболка TRAILHEAD MTS-FASTER белая
            .bestproduct-section__slider-item-price 17 359 
              span ₽
        div
          .bestproduct-section__slider-item
            .bestproduct-section__slider-item-pic
              img.logo(src="./src/img/trailheadLogo.png", width="63", height="30")
              img(src="./src/img/goods4.png")
            a(href="#", title="ссылка на товар").bestproduct-section__slider-item-title Футболка TRAILHEAD MTS-FASTER белая
            .bestproduct-section__slider-item-price 17 359 
              span ₽        