footer.footer
  .wrapper
    section.footer-left
      main.footer-main
        section.footer-main__content
          a.footer-main__content-link-title(href="#") 
            h5 ассортимент
          ul.footer-main__content-list
            a.footer-main__content-list-link(href="#")
              li Мужское
            a.footer-main__content-list-link(href="#") 
              li Женское
            a.footer-main__content-list-link(href="#") 
              li Sale
        section.footer-main__content
          a.footer-main__content-link-title(href="#") 
            h5 Помощь
          ul.footer-main__content-list
            a.footer-main__content-list-link(href="#") 
              li Как подобрать размер?
            a.footer-main__content-list-link(href="#") 
              li Как оформить заказ?             
        section.footer-main__content
          a.footer-main__content-link-title(href="#") 
            h5 О компании
          ul.footer-main__content-list
            a.footer-main__content-list-link(href="#") 
              li О нас
            a.footer-main__content-list-link(href="#") 
              li Адреса магазинов
            a.footer-main__content-list-link(href="#") 
              li Вакансии
        section.footer-main__content
          a.footer-main__content-link-title(href="#") 
            h5 Информация
          ul.footer-main__content-list
            a.footer-main__content-list-link(href="#") 
              li Политика конфиденциальности
        section.footer-main__content
          a.footer-main__content-link-title(href="#") 
            h5 Покупателю
          ul.footer-main__content-list
            a.footer-main__content-list-link(href="#") 
              li Связаться с нами
            a.footer-main__content-list-link(href="#") 
              li Обменять или вернуть товар
            a.footer-main__content-list-link(href="#") 
              li Доставка
            a.footer-main__content-list-link(href="#") 
              li Оплата
            a.footer-main__content-list-link(href="#") 
              li Частые вопросы по заказам
            a.footer-main__content-list-link(href="#") 
              li Отследить заказ
      
      footer.footer-bottom
        p.
          © 2010–2019, 34PLAY.ME - Официальный интернет магазин 34 PLAY. Использование материалов 34play.me разрешено только с предварительного согласия правообладателей. Все права на фотографии и тексты принадлежат 34play.me.
        a.footer-bottom__link(href="https://rekastudio.ru/", title="REKA Digital Agency" target="_blank")
          span Сделано в <br> 
            span.strong REKA Digital Agency
    
    aside.footer-aside
      img.footer-aside__logo(src="./src/img/logo3.png" alt="34PLAY" width="162" height="24")
      .footer-aside__tel
        a(href="tel:+78005001739").footer-aside__tel-link 8 (800)
          span  222-34-41
      .footer-aside__time пн-пт, 11:00–18:00
      .footer-aside__email
        a(href="email:shop@34play.me").footer-aside__email-link shop@34play.me
      section.footer-aside__social-media
        a.footer-aside__social-media-link(href="#", title="vk" target="_blank")
          svg(class="footer-aside__social-media-link-icon" width='16', height='9', viewbox='0 0 16 9', xmlns='http://www.w3.org/2000/svg', version='1.1', preserveaspectratio='xMinYMin')
            use(xlink:href='#img-vk')
        a.footer-aside__social-media-link(href="#", title="facebook" target="_blank")
          svg(class="footer-aside__social-media-link-icon" width='16', height='16', viewbox='0 0 9 16', xmlns='http://www.w3.org/2000/svg', version='1.1', preserveaspectratio='xMinYMin')
            use(xlink:href='#img-facebook')
        a.footer-aside__social-media-link(href="#", title="instagram" target="_blank")
          svg(class="footer-aside__social-media-link-icon" width='16', height='16', viewbox='0 0 16 16', xmlns='http://www.w3.org/2000/svg', version='1.1', preserveaspectratio='xMinYMin')
            use(xlink:href='#img-instagram')                
        a.footer-aside__social-media-link(href="#", title="youtube" target="_blank")
          svg(class="footer-aside__social-media-link-icon" width='16', height='16', viewbox='0 0 16 11', xmlns='http://www.w3.org/2000/svg', version='1.1', preserveaspectratio='xMinYMin')
            use(xlink:href='#img-youtube')
    
    footer.footer-mobile 
      img.footer-aside__logo(src="./src/img/logo3.png" alt="34PLAY" width="162" height="24")
      section.footer-main__content.footer-main__content_mobile
        a.footer-main__content-link-title.footer-main__content-link-title_mobile(href="#") 
          h5 ассортимент
          h5 Помощь
          h5 О компании
          h5 Информация
          h5 Покупателю
      .footer-aside__tel.footer-aside__tel_mobile
        a(href="tel:+78005001739").footer-aside__tel-link.footer-aside__tel-link_mobile 8 (800)
          span  222-34-41
      .footer-aside__time.footer-aside__time_mobile пн-пт, 11:00–18:00
      .footer-aside__email.footer-aside__email_mobile
        a(href="email:shop@34play.me").footer-aside__email-link.footer-aside__email_mobile-link shop@34play.me
      section.footer-aside__social-media.footer-aside__social-media_mobile
        a.footer-aside__social-media-link.footer-aside__social-media-link_mobile(href="#", title="vk" target="_blank")
          svg(class="footer-aside__social-media-link-icon" width='16', height='9', viewbox='0 0 16 9', xmlns='http://www.w3.org/2000/svg', version='1.1', preserveaspectratio='xMinYMin')
            use(xlink:href='#img-vk')
        a.footer-aside__social-media-link.footer-aside__social-media-link_mobile(href="#", title="facebook" target="_blank")
          svg(class="footer-aside__social-media-link-icon" width='16', height='16', viewbox='0 0 9 16', xmlns='http://www.w3.org/2000/svg', version='1.1', preserveaspectratio='xMinYMin')
            use(xlink:href='#img-facebook')
        a.footer-aside__social-media-link.footer-aside__social-media-link_mobile(href="#", title="instagram" target="_blank")
          svg(class="footer-aside__social-media-link-icon" width='16', height='16', viewbox='0 0 16 16', xmlns='http://www.w3.org/2000/svg', version='1.1', preserveaspectratio='xMinYMin')
            use(xlink:href='#img-instagram')                
        a.footer-aside__social-media-link.footer-aside__social-media-link_mobile(href="#", title="youtube" target="_blank")
          svg(class="footer-aside__social-media-link-icon" width='16', height='16', viewbox='0 0 16 11', xmlns='http://www.w3.org/2000/svg', version='1.1', preserveaspectratio='xMinYMin')
            use(xlink:href='#img-youtube')
      p.desc_mobile.
        © 2010–2019, 34PLAY.ME - Официальный интернет магазин 34 PLAY. Использование материалов 34play.me разрешено только с предварительного согласия правообладателей. Все права на фотографии и тексты принадлежат 34play.me.
      a(href="#", title="Полная версия сайта").full-version 
        span Полная версия сайта

a.footer-bottom__link_mobile(href="https://rekastudio.ru/", title="REKA Digital Agency" target="_blank")
  span Сделано в
    span.strong  REKA Digital Agency