header.header

  section.top-banner 
    .wrapper
      section.top-banner__text
        p Да здравствует потреблядство! с 23 по 26 ноября скидки до 
          span  50% 
          | в честь «черной пятницы»
        section#top-banner-close.top-banner__text-btn
          svg(class="top-banner__text-btn-icon" width='16', height='16', viewbox='0 0 16 16', xmlns='http://www.w3.org/2000/svg', version='1.1', preserveaspectratio='xMinYMin')
            use(xlink:href='#img-close')
  section.header-nav
    .wrapper
      section.menu-top
        nav.menu-top__nav
          ul.menu-top__nav-list
            li.menu-top__nav-item 
              a(href="#", title="Как сделать заказ").menu-top__nav-item-link Как сделать заказ
            li.menu-top__nav-item 
              a(href="#", title="Доставка").menu-top__nav-item-link Доставка 
            li.menu-top__nav-item 
              a(href="#", title="Оплата").menu-top__nav-item-link Оплата
            li.menu-top__nav-item 
              a(href="#", title="Возврат и обмен").menu-top__nav-item-link Возврат и обмен
            li.menu-top__nav-item 
              a(href="#", title="Вакансии").menu-top__nav-item-link Вакансии
        section.menu-top__auth
          .menu-top__auth-city
            svg(class="menu-top__auth-city-icon" width='16', height='16', viewbox='0 0 16 16', xmlns='http://www.w3.org/2000/svg', version='1.1', preserveaspectratio='xMinYMin')
              use(xlink:href='#img-pin')
            button Санкт-Петербург
          button.menu-top__auth-login ВХОД
          button.menu-top__auth-login РЕГИСТРАЦИЯ

  section.header-nav-main
    .wrapper
      section.menu-main
        section.menu-main__logo
          svg(class="menu-main__menuburger-icon" width='28', height='20', viewbox='0 0 28 20', xmlns='http://www.w3.org/2000/svg', version='1.1', preserveaspectratio='xMinYMin')
            use(xlink:href='#img-menuburger')
          svg(class="menu-main__logo-icon" width='119', height='20.05', viewbox='0 0 119 20.05', xmlns='http://www.w3.org/2000/svg', version='1.1', preserveaspectratio='xMinYMin')
            use(xlink:href='#img-logo')
        nav.menu-main__nav
          ul.menu-main__nav-list
            li.menu-main__nav-item
              a(href="#" title="Мужское").menu-main__nav-item-link Мужское
            li.menu-main__nav-item
              a(href="#" title="Женское").menu-main__nav-item-link Женское
            li.menu-main__nav-item
              a(href="#" title="Sale").menu-main__nav-item-link Sale
            li.menu-main__nav-item
              a(href="#" title="О нас").menu-main__nav-item-link О нас
            li.menu-main__nav-item
              a(href="#" title="Контакты").menu-main__nav-item-link Контакты
        section.menu-main__info
          .menu-main__info-time пн-пт, 11:00–18:00
          .menu-main__info-tel
            a(href="tel:+78005001739").menu-main__info-tel-link +7 (800)
              span  500-17-39
        section.menu-main__search
          input(type="search", name="search").menu-main__search-input
          button(type="submit").menu-main__search-btn
            svg(class="menu-main__search-btn-icon" width='18', height='21', viewbox='0 0 18 21', xmlns='http://www.w3.org/2000/svg', version='1.1', preserveaspectratio='xMinYMin')
              use(xlink:href='#img-search')
        section.menu-main__cart
          svg(class="menu-main__cart-icon" width='27', height='25', viewbox='0 0 27 25', xmlns='http://www.w3.org/2000/svg', version='1.1', preserveaspectratio='xMinYMin')
              use(xlink:href='#img-cart')
          .menu-main__cart_full 5

        section.menu-main__cart_small
          section.menu-main__profile
            svg(class="menu-main__profile-icon" width='20', height='20', viewbox='0 0 20 20', xmlns='http://www.w3.org/2000/svg', version='1.1', preserveaspectratio='xMinYMin')
              use(xlink:href='#img-profilemobile')
          svg(class="menu-main__cart_small-icon" width='23', height='21', viewbox='0 0 27 25', xmlns='http://www.w3.org/2000/svg', version='1.1', preserveaspectratio='xMinYMin')
              use(xlink:href='#img-cart')
          
  section.header-slider
    section.header-slide.header-slide_1
      .wrapper
        section.header-slide__item
          h3.header-slide__item-title TRAILHEAD WEAR INDASTREE
          p.header-slide__item-desc с гордостью разработано и произведено в России
          section.header-slide__item-btns
            button.header-slide__item-btn Мужская одежда
            button.header-slide__item-btn Женская одежда
    section.header-slide.header-slide_2
      .wrapper
        section.header-slide__item
          h3.header-slide__item-title TRAILHEAD WEAR INDASTREE
          p.header-slide__item-desc с гордостью разработано и произведено в России
          section.header-slide__item-btns
            button.header-slide__item-btn Мужская одежда
            button.header-slide__item-btn Женская одежда
    section.header-slide.header-slide_3
      .wrapper
        section.header-slide__item
          h3.header-slide__item-title TRAILHEAD WEAR INDASTREE
          p.header-slide__item-desc с гордостью разработано и произведено в России
          section.header-slide__item-btns
            button.header-slide__item-btn Мужская одежда
            button.header-slide__item-btn Женская одежда
    section.header-slide.header-slide_4
      .wrapper
        section.header-slide__item
          h3.header-slide__item-title TRAILHEAD WEAR INDASTREE
          p.header-slide__item-desc с гордостью разработано и произведено в России
          section.header-slide__item-btns
            button.header-slide__item-btn Мужская одежда
            button.header-slide__item-btn Женская одежда                