main.main 
  .wrapper
    section.advantages
      ul.advantages__list
        li.advantages__list-item
          svg(class="advantages__list-item-icon" width='64', height='64', viewbox='0 0 64 64', xmlns='http://www.w3.org/2000/svg', version='1.1', preserveaspectratio='xMinYMin')
            use(xlink:href='#img-delivery')
          span.advantages__list-item-text Курьерская доставка <br> по всей России
        li.advantages__list-item
          .advantages__list-border
        li.advantages__list-item
          svg(class="advantages__list-item-icon" width='64', height='64', viewbox='0 0 64 64', xmlns='http://www.w3.org/2000/svg', version='1.1', preserveaspectratio='xMinYMin')
            use(xlink:href='#img-sizes')
          span.advantages__list-item-text Несколько размеров <br> на выбор и бесплатная <br> примерка
        li.advantages__list-item
          .advantages__list-border
        li.advantages__list-item
          svg(class="advantages__list-item-icon" width='64', height='64', viewbox='0 0 64 64', xmlns='http://www.w3.org/2000/svg', version='1.1', preserveaspectratio='xMinYMin')
            use(xlink:href='#img-payment')
          span.advantages__list-item-text Удобные способы <br> оплаты: наличные, <br> электронные платежи
        li.advantages__list-item
          .advantages__list-border
        li.advantages__list-item
          svg(class="advantages__list-item-icon advantages__list-item-icon_last" width='64', height='64', viewbox='0 0 64 64', xmlns='http://www.w3.org/2000/svg', version='1.1', preserveaspectratio='xMinYMin')
            use(xlink:href='#img-productback')
          span.advantages__list-item-text Возврат товара <br> в течение 14 дней
          
      section.advantages__list_slider
        div
          section.advantages__list-item
            svg(class="advantages__list-item-icon" width='64', height='64', viewbox='0 0 64 64', xmlns='http://www.w3.org/2000/svg', version='1.1', preserveaspectratio='xMinYMin')
              use(xlink:href='#img-delivery')
            span.advantages__list-item-text Курьерская доставка <br> по всей России
        div
          section.advantages__list-item
            svg(class="advantages__list-item-icon" width='64', height='64', viewbox='0 0 64 64', xmlns='http://www.w3.org/2000/svg', version='1.1', preserveaspectratio='xMinYMin')
              use(xlink:href='#img-sizes')
            span.advantages__list-item-text Несколько размеров <br> на выбор и бесплатная <br> примерка
        div
          section.advantages__list-item
            svg(class="advantages__list-item-icon" width='64', height='64', viewbox='0 0 64 64', xmlns='http://www.w3.org/2000/svg', version='1.1', preserveaspectratio='xMinYMin')
              use(xlink:href='#img-payment')
            span.advantages__list-item-text Удобные способы <br> оплаты: наличные, <br> электронные платежи
        div
          section.advantages__list-item
            svg(class="advantages__list-item-icon advantages__list-item-icon_last" width='64', height='64', viewbox='0 0 64 64', xmlns='http://www.w3.org/2000/svg', version='1.1', preserveaspectratio='xMinYMin')
              use(xlink:href='#img-productback')
            span.advantages__list-item-text Возврат товара <br> в течение 14 дней              
    
    section.tiles
      .tile.tile_1
      .tile.tile_2
        svg(class="tile_2-icon" width='85', height='85', viewbox='0 0 85 85', xmlns='http://www.w3.org/2000/svg', version='1.1', preserveaspectratio='xMinYMin')
          use(xlink:href='#img-playbtn')
        span.tile_2-text смотреть Промо-ролик
      .tile.tile_3
      .tile.tile_4
      .tile.tile_5
      .tile.tile_6

    section.companies
      section.companies__slider
        div
          section.companies__slider-item
            img(src="./src/img/asicsLogo.png", alt="asics")
        div
          section.companies__slider-item
            img(src="./src/img/converseLogo.png", alt="converse")
        div
          section.companies__slider-item
            img(src="./src/img/trailheadLogo.png", alt="trailhead")
        div
          section.companies__slider-item
            img(src="./src/img/thrasherLogo.png", alt="thrasher")
        div
          section.companies__slider-item
            img(src="./src/img/lumberJackLogo.png", alt="lumberJack")
        div
          section.companies__slider-item
            img(src="./src/img/affexLogo.png", alt="affex")
        div
          section.companies__slider-item
            img(src="./src/img/asicsLogo.png", alt="asics")