section.shop-description
  .wrapper
    section.shop-description__block
      h5.shop-description__block-title ИНТЕРНЕТ МАГАЗИН МОДНОЙ УЛИЧНОЙ ОДЕЖДЫ
      img.shop-description__block-logo(src="./src/img/logo2.png" alt="34PLAY")
      p.shop-description__block-text. 
        34Play - это уличная молодежная одежда. Это свобода и стиль жизни. Это сеть розничных магазинов в Санкт-Петербурге и Москве, а также доставка по России и миру. 34Play - это лучшие бренды уличной и спортивной одежды: американский Converse, японский Asics, питерский Trailhead и легендарный Thrasher.
      button.shop-description__block-btn Подробнее