section.social
  h4.section__title.social__title Следите за нами в Instagram
  a.social__link(href="https://www.instagram.com/34play/", title="34PLAY Instagram" target="_blank") @34play
  section.social__slider
    div
      .social__slider-item(href="https://www.instagram.com/34play/" target="_blank")
        img(src="./src/img/ig1.png")
    div
      .social__slider-item(href="https://www.instagram.com/34play/" target="_blank")
        img(src="./src/img/ig2.png")  
    div
      .social__slider-item(href="https://www.instagram.com/34play/" target="_blank")
        img(src="./src/img/ig3.png")
    div
      .social__slider-item(href="https://www.instagram.com/34play/" target="_blank")
        img(src="./src/img/ig4.png")
    div
      .social__slider-item(href="https://www.instagram.com/34play/" target="_blank")
        img(src="./src/img/ig5.png")
    div
      .social__slider-item(href="https://www.instagram.com/34play/" target="_blank")
        img(src="./src/img/ig6.png")  
    div
      .social__slider-item(href="https://www.instagram.com/34play/" target="_blank")
        img(src="./src/img/ig7.png")
    div
      .social__slider-item(href="https://www.instagram.com/34play/" target="_blank")
        img(src="./src/img/ig8.png")
    div
      .social__slider-item(href="https://www.instagram.com/34play/" target="_blank")
        img(src="./src/img/ig1.png")
    div
      .social__slider-item(href="https://www.instagram.com/34play/" target="_blank")
        img(src="./src/img/ig2.png")  
    div
      .social__slider-item(href="https://www.instagram.com/34play/" target="_blank")
        img(src="./src/img/ig3.png")
    div
      .social__slider-item(href="https://www.instagram.com/34play/" target="_blank")
        img(src="./src/img/ig4.png")
    div
      .social__slider-item(href="https://www.instagram.com/34play/" target="_blank")
        img(src="./src/img/ig5.png")
    div
      .social__slider-item(href="https://www.instagram.com/34play/" target="_blank")
        img(src="./src/img/ig6.png")  
    div
      .social__slider-item(href="https://www.instagram.com/34play/" target="_blank")
        img(src="./src/img/ig7.png")
    div
      .social__slider-item(href="https://www.instagram.com/34play/" target="_blank")
        img(src="./src/img/ig8.png")        

  section.subscribe
    .subscribe__text подпишись и получи скидку 10% на покупки в нашем интернет-магазине
    .subscribe__text.subscribe__text_short подпишись и получи скидку 10%
    section.subscribe__block
      form.subscribe__block-form(action="", method="post")
        section.subscribe__block-form-email
          input.subscribe__block-form-email-input(type="email", name="email" placeholder="Электронная почта")
        section.subscribe__block-form-gender
          label.subscribe__block-form-gender-radio(for="male") 
            input.subscribe__block-form-gender-radio-input(type="radio", name="gender" value="Male" id="male" checked) 
            span.subscribe__block-form-gender-radio-text Муж
          label.subscribe__block-form-gender-radio(for="female") 
            input.subscribe__block-form-gender-radio-input(type="radio", name="gender" value="Female" id="female") 
            span.subscribe__block-form-gender-radio-text Жен
      button(type="submit") Подписаться